.App {
  text-align: center;
}

.header {
  margin-top: 15px;
}

.myInput {
  width: 300px;
  padding: 5px 15px;
  margin: 15px 0;
  border: 2px solid darkgray;
  border-radius: 8px;
}

.userList {
  margin: 0 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.userCard {
  min-width: 250px;
  border: 2px solid darkgray;
  border-radius: 8px;
  padding: 10px;
  line-height: 1.4;
  margin: 5px;
}
